@import "tailwindcss";

@theme {
  --color-green-neon: #00ff87;
  --color-cyan-neon: #60efff;
}

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-float-delayed {
    animation: float 6s ease-in-out 3s infinite;
  }

  .animate-pan {
    animation: pan 60s linear infinite;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-15px) rotate(1.5deg);
  }
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}