@import "tailwindcss";

@theme inline {
  --color-green-neon: #00ff87;
  --color-cyan-neon: #60efff;
}

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-float-delayed {
    animation: float 6s ease-in-out 3s infinite;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-15px) rotate(1.5deg);
  }
}